<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/pagination.css">
  <link rel="icon" type="image/x-icon" href="/icon/icon-cinema.ico">
  <title>NAMCINEMA | <%- i18n.t('header.allMovies') %></title>
</head>

<body>
  <%- include('./header') %>
  
  <div class="container container-custom">
    <br>
    <br>
    <br>
    <br>

    <h1><%- i18n.t('header.allMovies') %></h1>
    <br>
    <div class="d-flex justify-content-between flex-wrap">
      <% for (let i = 0; i < movies.length; i++) { %>
        <div class="card movie-item">
          <img class="card-img-top img-movie" src="<%- movies[i].smallImgurl %>" alt="Card image">
          <div class="card-body">
            <h4 class="card-title"><%- movies[i].name %></h4>
            <p class="card-text movie-short-description"><%- movies[i].shortDescription %></p>
            <a href="/movie-details/<%- movies[i].id %>" class="btn btn-outline-warning btn-view-movie-detail"><%- i18n.t('movie.detail') %></a>
            <a href="/booking/<%- movies[i].id %>" class="btn btn-outline-danger"><%- i18n.t('movie.byTicket') %></a>
          </div>
        </div>
      <% } %>

      <% for (let i = 0; i < itemInPage - movies.length; i++) { %>
        <div class="card movie-item invisible"></div>
      <% } %>
    </div>
    
    <br>
    <%- include('./pagination') %>

    <br>
    <br>
  </div>

  <%- include('./footer') %>
</body>

</html>
