<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/poper.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/allmovies.css">
  <link rel="icon" type="image/x-icon" href="/icon/icon-cinema.ico">
  <title>NAMCINEMA | <%- i18n.t('header.allMovies') %></title>
</head>

<body>
  <%- include('./header') %>
  
  <div class="container container-custom main-content">
    <br>
    <br>
    <br>

    <div class="d-flex justify-content-between">
      <h1><%- i18n.t('header.allMovies') %></h1>
      <div class="my-auto">
        <button class="btn btn-secondary btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          <%- i18n.t('header.filter') %>&nbsp;&nbsp;<i class="fa-solid fa-filter"></i>
        </button>
        <div class="dropdown-menu">
          <div class="form-group dropdown-item">
            <label for="movie-name"><%- i18n.t('movie.name') %>:</label>
            <input type="search" class="form-control" id="movie-name" placeholder="<%- i18n.t('movie.name') %>">
          </div>
          <div class="pl-4">
            <label><%- i18n.t('movie.categories') %>:</label>
            <% for (let i = 0; i < categories.length; i++) { %>
              <div class="dropdown-item form-group custom-checkbox">
                <input type="checkbox"
                  id="category<%- categories[i].id %>"
                  class="mr-2 custom-control-input category-item"
                  value="<%- categories[i].id %>"
                >
                <label class="custom-control-label" for="category<%- categories[i].id %>"><%- categories[i].name %></label>
              </div>
            <% } %>
          </div>
          <div class="form-group dropdown-item">
            <input type="number"
              min="13"
              max="18"
              step="1"
              class="form-control"
              id="movie-age"
              placeholder="<%- `${i18n.t('movie.age').charAt(0).toUpperCase()}${i18n.t('movie.age').slice(1)}` %>">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="d-flex justify-content-between flex-wrap all-movies">
      <% for (let i = 0; i < movies.length; i++) { %>
        <div class="card movie-item">
          <img class="card-img-top img-movie" src="<%- movies[i].smallImgurl %>" alt="Card image">
          <div class="card-body">
            <h4 class="card-title"><%- movies[i].name %></h4>
            <p class="card-text movie-short-description"><%- movies[i].shortDescription %></p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a href="/movie-details/<%- movies[i].id %>" class="btn btn-outline-warning btn-view-movie-detail"><%- i18n.t('movie.detail') %></a>
            <a href="/booking/<%- movies[i].id %>" class="btn btn-outline-danger"><%- i18n.t('movie.byTicket') %></a> 
          </div>
        </div>
      <% } %>

      <% for (let i = 0; i < itemInPage - movies.length; i++) { %>
        <div class="card movie-item invisible"></div>
      <% } %>
    </div>
    
    <br>
    <%- include('./pagination') %>
  </div>

  <%- include('./footer') %>
  <script src="/js/utils.js"></script>
  <script src="/js/pagination.js"></script>
  <script src="/js/lazyloading.js"></script>
  <script src="/js/sweetalert.js"></script>
  <script src="/js/allmovies.js"></script>
</body>

</html>
