<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/poper.js"></script>
  <script src="/js/bootstrap.js"></script>

  <link rel="icon" type="image/x-icon" href="/icon/icon-cinema.ico">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/choose-seat.css">
  <title>NAMCINEMA | <%- i18n.t('header.chooseSeat') %></title>
</head>
<body>
  <%- include('./header') %>
  
  <div class="wapper-progress">
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%"></div>
    </div>
  </div>

  <div class="modal fade my-0 mx-auto" id="modalChooseFood" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header d-flex">
          <h1 class="modal-title mx-auto" id="exampleModalLabel"><%- i18n.t('bill.detail') %><span></span></h1>
          <button type="button" class="close ml-0 close-video-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer d-flex">
          <button type="button" class="btn btn-success btn-pay m-auto"><%- i18n.t('form.pay') %></button>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-content">
    <br><br><br>
    <h1 class="text-center"><%- i18n.t('header.chooseSeat') %></h1>
    <div class="d-flex flex-wrap content">
      <div class="seat-container">
        <div class="d-flex additional-info justify-content-between mt-3">
          <div class="count-down font-weight-bold">
            <div><%- i18n.t('room.remainTime') %>:</div>
            <div class="d-flex"><span class="text-danger timmer m-auto"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>
  <%- include('./footer') %>

  <script src="/js/utils.js"></script>
  <script src="/js/pagination.js"></script>
  <script src="/js/lazyloading.js"></script>
  <script src="/js/sweetalert.js"></script>
  <script src="/js/nodata.js"></script>
  <script src="/js/choose-seat.js"></script>
  <script src="/js/payment.js"></script>
</body>
</html>
