<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="icon" type="image/x-icon" href="/icon/icon-cinema.ico">
  <title>NAMCINEMA | <%- i18n.t('header.home') %></title>
</head>

<body>
  <%- include('./header') %>
  
  <div class="container">
    <!-- carousel -->
    <br>
    <br>
    <br>
    <br>
    <h1><%- i18n.t('header.newMoviesShown') %></h1>
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <% for (let i = 0; i < newestFilms.length; i++) { %>
          <% if (i == 0) { %>
            <div class="carousel-item active">
              <a href="/movie-details/<%- newestFilms[i].id %>">
                <img src="<%- newestFilms[i].largeImgurl %>" alt="Los Angeles" width="1100" height="500">
              </a>
            </div>
          <% } else { %>
            <div class="carousel-item">
              <a href="/movie-details/<%- newestFilms[i].id %>">
                <img src="<%- newestFilms[i].largeImgurl %>" alt="Los Angeles" width="1100" height="500">
              </a>
            </div>
          <% } %>
        <% } %>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!-- end of carousel -->

    <br>
    <br>
    <h1><%- i18n.t('header.hotMoives') %></h1>
    <div class="d-flex justify-content-between flex-wrap">
      <% for (let i = 0; i < hotFilms.length; i++) { %>
        <div class="card movie-item">
          <img class="card-img-top img-movie" src="<%- hotFilms[i].smallImgurl %>" alt="Card image">
          <div class="card-body">
            <h4 class="card-title"><% hotFilms[i].name %></h4>
            <p class="card-text movie-short-description"><%- hotFilms[i].shortDescription %></p>
            <a href="/movie-details/<%- hotFilms[i].id %>" class="btn btn-outline-warning btn-view-movie-detail"><%- i18n.t('movie.detail') %></a>
            <a href="/booking/<%- hotFilms[i].id %>" class="btn btn-outline-danger"><%- i18n.t('movie.byTicket') %></a>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <br>
  <br>
  <%- include('./footer') %>
</body>

</html>
