<!-- Sidebar -->
<div class="sidebar">
  <a href="/admin/home" style="background-color: blue;"><i class="fas fa-home"></i> <%- i18n.t('header.home') %></a>
  <a href="/admin/manage-movie"><i class="fa-solid fa-film"></i> <%- i18n.t('admin.manageMovie') %></a>
  <a href="/admin/manage-ticket"><i class="fa-solid fa-ticket"></i> <%- i18n.t('admin.manageTicket') %></a>
  <a href="/admin/manage-schedule"><i class="fas fa-chart-bar"></i> <%- i18n.t('admin.manageSchedule') %></a>
  <a href="/authen/logout"><i class="fas fa-sign-out-alt"></i> <%- i18n.t('header.logout') %></a>
</div>
