<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank for register account NAMCINEMA</title>
</head>
<body>
  <div style="font-size: 30px;">Dear, <%- email %></div>
  <h2>Thank for &quot;<%- username %>&quot; registered account in NAMCINEMA</h2>
  <div><b>Infomation detail:</b></div>
  <br>
  <div>Username: <%- username %></div>
  <div>Email: <%- email %></div>
  <div>Password: <%- password %></div>
  <div>Phone: <%- phone %></div>
  <div>Address: <%- address %></div>
  <br>
  <span style="color: red; font-size: 16px;"><i>This is an automated email, please do not reply!</i></span>
</body>
</html>
